<component name="libraryTable">
  <library name="Spring" type="spring">
    <CLASSES>
      <root url="jar://$PROJECT_DIR$/libs/spring-core-5.2.21.RELEASE.jar!/" />
      <root url="jar://$PROJECT_DIR$/libs/spring-jcl-5.2.21.RELEASE.jar!/" />
    </CLASSES>
    <JAVADOC />
    <SOURCES />
  </library>
</component>